In [40]:
import pandas as pd

In [41]:
validation_set = pd.read_csv("C:\\Users\\InbarBlech\\PycharmProjects\\Thesis\\validation\\clinvar_variants_all_genes.csv")
# change name of "Gene(s)" column to "gene"
validation_set = validation_set.rename(columns={"Gene(s)": "gene", "Protein change": "variant"})
dvd_variants = pd.read_csv("C:\\Users\\InbarBlech\\PycharmProjects\\Thesis\\combined_with_source.csv")
GJB2_set = pd.read_csv("C:\\Users\\InbarBlech\\PycharmProjects\\Thesis\\gene_specific_df\\GJB2.csv")
# concat dvd_variants and GJB2_set
dvd_variants = pd.concat([dvd_variants, GJB2_set])

In [42]:
validation_set

     Unnamed: 0    gene variant pathogenicity uniprot_id
0             0    WFS1   L187F    pathogenic     O76024
1             1    WFS1   W314R    pathogenic     O76024
2             2    WFS1   H323R    pathogenic     O76024
3             3    WFS1   V333F        benign     O76024
4             4    WFS1   L543R    pathogenic     O76024
..          ...     ...     ...           ...        ...
731         731  COL4A5  D1659E        benign     P29400
732         732  COL4A5  S1659N    pathogenic     P29400
733         733  COL4A5  S1665N    pathogenic     P29400
734         734  COL4A5  T1671M        benign     P29400
735         735  COL4A5  T1665M        benign     P29400

[736 rows x 5 columns]

In [43]:
# Extract rows that are in both validation set and dvd variants, by comparing the gene and variant columns
redundancy = validation_set[validation_set.apply(lambda row: row['gene'] in dvd_variants['gene'].values and row['variant'] in dvd_variants['variant'].values, axis=1)]
redundancy

     Unnamed: 0    gene variant pathogenicity uniprot_id
1             1    WFS1   W314R    pathogenic     O76024
2             2    WFS1   H323R    pathogenic     O76024
3             3    WFS1   V333F        benign     O76024
4             4    WFS1   L543R    pathogenic     O76024
5             5    WFS1   P607R    pathogenic     O76024
..          ...     ...     ...           ...        ...
688         688  COL2A1   E142D        benign     P02458
694         694    GJB2    G45E    pathogenic     P29033
701         701  COL4A5  G1339S    pathogenic     P29400
711         711  COL4A5  G1448R    pathogenic     P29400
726         726  COL4A5  C1638Y    pathogenic     P29400

[311 rows x 5 columns]

In [44]:
# remove from validation_set, the rows that are in redundancy
validation_set = validation_set[~validation_set.apply(lambda row: row['gene'] in redundancy['gene'].values and row['variant'] in redundancy['variant'].values, axis=1)]
validation_set

     Unnamed: 0     gene variant pathogenicity uniprot_id
0             0     WFS1   L187F    pathogenic     O76024
20           20  SLC26A4    G95E    pathogenic     O43511
26           26  SLC26A4   A189S        benign     O43511
32           32  SLC26A4   G334E    pathogenic     O43511
49           49    MYO7A     G7R    pathogenic     Q13402
..          ...      ...     ...           ...        ...
731         731   COL4A5  D1659E        benign     P29400
732         732   COL4A5  S1659N    pathogenic     P29400
733         733   COL4A5  S1665N    pathogenic     P29400
734         734   COL4A5  T1671M        benign     P29400
735         735   COL4A5  T1665M        benign     P29400

[425 rows x 5 columns]

In [45]:
# Save the validation set without redundancy to a csv file
validation_set.to_csv("C:\\Users\\InbarBlech\\PycharmProjects\\Thesis\\validation\\clinvar_variants_for_validation_set_without_redundancy1.csv", index=False)

In [46]:
# show genes that are in both validation set
validation_set['gene'].unique()

array(['WFS1', 'SLC26A4', 'MYO7A', 'COL2A1', 'GJB2', 'COL4A5', 'FGFR1'],
      dtype=object)

In [47]:
# Print the number of rows for each gene in the validation set
print("Number of variants for each gene in the validation set without redundancy to dvd:")
for gene in validation_set['gene'].unique():
    print(gene, len(validation_set[validation_set['gene'] == gene]))

Number of variants for each gene in the validation set without redundancy to dvd:
WFS1 1
SLC26A4 3
MYO7A 40
COL2A1 161
GJB2 5
COL4A5 79
FGFR1 136